* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  scroll-behavior: smooth;
  scroll-margin: 15vh;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
}
